{% extends "components/base.html" %}

{% load i18n %}

{% block description %}Simple and functional task manager.{% endblock %}
{% block title %}Task Manager{% endblock %}

{% block content %}
<h1 class="my-4"></h1>
<div class="card">
    <div class="card-body p-5 bg-light">
        <h1 class="my-4 display-4">{% trans "Welcome to Task Manager!" %}</h1>
        <p class="lead"><i>{% trans "Simple and functional task manager." %}</i></p>
        <p class="lead">{% trans "It allows you to set tasks, assign performers and change their statuses. Registration and authentication are required to work with the system." %}</p>
        <hr>
        <a class="btn btn-primary btn-lg" href="/login/">{% trans "Get Started" %}</a>
    </div>
</div>
{% endblock %}
